mixin link(goto)
  a(href=goto) Banaan

mixin message(message, user, showComments)
  .panel.panel-info.message(data-message="#{message._id}")
    .panel-heading
      strong &nbsp;#{message.from.username}
      if(message.to)
        | &nbsp;aan
        strong &nbsp;#{message.to.username}
      .pull-right
        a(href="/messages/detail/#{message._id}")
          span(title='#{moment(message.date).format("DD-MM-YYYY HH:mm")}')
            i.fa.fa-clock-o
            | &nbsp; #{moment(message.date).format("DD-MM-YYYY HH:mm")}
            | (#{moment(message.date).fromNow()})

    .panel-body
      if message.subject
        strong #{message.subject}
        br
        br
      p
        | #{message.message}
    .panel-footer.clearfix
      if message.comments
        button.btn.btn-default(data-toggle="collapse", data-target="#comments-#{message._id}") #{message.comments.length} reacties
      else
        button.btn.btn-default(data-toggle="collapse", data-target="#comments-#{message._id}") 0 reacties
      if message.resolved
        a.pull-right.btn.btn-success
          i.fa.fa-check.fa-fw
          | &nbsp; Afgehandeld
      else
        if(message.to)
          if(message.to._id == user._id)
            a.pull-right.btn.btn-default(data-action="resolve")
              i.fa.fa-flag.fa-fw
              | &nbsp; Afhandelen
          else
            a.btn.pull-right.disabled
              i.fa.fa-flag.fa-fw
              | &nbsp; Nog niet afgehandeld
      if(message.from)
        if(message.from._id == user._id)
          span.pull-right &nbsp;&nbsp;
          a.pull-right.btn.btn-default(data-action="edit", href="/messages/edit/#{message._id}")
            i.fa.fa-pencil.fa-fw
            | &nbsp; Bewerken
    -var commentClass = (showComments && showComments == true ? 'collapse in' : 'collapse')
    .panel-footer(id="comments-#{message._id}",class=commentClass)
      .row
        .col-lg-8
          form(action="/messages/#{message._id}/comment").addComment
            .row
              .col-lg-11
                textarea(name="comment", placeholder="Een nieuwe reactie schrijven...").form-control
              .col-lg-1
                button(type="submit").btn.btn-default Reageren
      .row
        .col-lg-8
          if(message.comments)
            br
            each comment, c in message.comments
              +comment(comment)

mixin comment(comment)
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            strong &nbsp;#{comment.user.username}
            .pull-right
              <i class="fa fa-clock-o"></i>&nbsp;#{moment(comment.date).format("DD-MM-YYYY HH:mm")}
          .panel-body
            p.comment-body #{comment.comment}
