mixin link(goto)
  a(href=goto) Banaan

mixin message(message)
  .panel.panel-success.message(data-message="#{message._id}")
    .panel-heading
      | Bericht van
      strong &nbsp;#{message.from.username}
      | aan
      strong &nbsp;#{message.to.username}
      | op #{moment(message.date).format("DD-MM-YYYY HH:mm")}
    .panel-body
      p
        | #{message.message}
    .panel-footer.clearfix
      a.btn.btn-default(data-action="comment") Reageren
      if message.resolved
        a.pull-right.btn.btn-success Afgehandeld
      else
        a.pull-right.btn.btn-default(data-action="resolve") Afhandelen
      form(action="/messages/#{message._id}/comment").addComment
        textarea(name="comment").col-lg-4.form-control
        button(type="submit").btn.btn-default Reageren
      each comment, c in message.comments
        +comment(comment)

mixin comment(comment)
    .row
      .col-lg-8
        .panel.panel-default
          .panel-heading
            | Commentaar van
            strong &nbsp;#{comment.user.username}
            | op #{moment(comment.date).format("DD-MM-YYYY HH:mm")}
          .panel-body
            p.comment-body #{comment.comment}
